[submodule "reminiscensui"]
	path = reminiscensui
	url = https://github.com/cdparra/reminiscensui
[submodule "reminiscens-lifeapi"]
	path = reminiscens-lifeapi
	url = https://github.com/cdparra/reminiscens-lifeapi.git
[submodule "lifecontext"]
	path = lifecontext
	url = https://github.com/cdparra/lifecontext.git
[submodule "elder.tl"]
	path = elder.tl
	url = https://github.com/cdparra/elder.tl.git
[submodule "preliminary"]
	path = preliminary
	url = https://github.com/cdparra/reminiscens-sidekick.git
